

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}



body { font-family: sans-serif; }
h1, h2, h3 {
  font-weight: bold;
}

.remark-code, .remark-inline-code { 
  font-family: 'Ubuntu Mono', 'Lucida Console', Monaco, monospace; 
}


.remark-slide-content {
  background-image: url(../pics/background.png);
  background-size: 1080px;
  background-color: #FFFFFF;
  border-top: 80px solid #005aa0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em;
  
}

.remark-slide-content > h1 {
  font-weight: normal;
  font-size: 45px;
  margin-top: -95px;
  margin-left: -00px;
  color: #FAFAFA;
}

.remark-slide-content > inverse {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

.remark-slide-content > h2, h3, h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.remark-slide-content > h2, .pull-left > h2, .pull-right > h2 {
  font-size: 35px;
}


.title-slide {
  background-image: url(../pics/title.png);
  background-size: 1080px;
  background-color: #FFFFFF;
  border-top: 80px solid #FFFFFF;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}

.title-slide > h1  {
  color: #1A292C;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}
.title-slide > h3  {
  color: #1A292C;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
}

.remark-slide-number {
  font-size: 13pt;
  color: #FFFFFF;
  opacity: 1;
  margin-bottom: -15px
}

.inverse .remark-slide-number {
  font-size: 13pt;
  color: #FAFAFA;
  opacity: 1;
}

.inverse {
  background-image: url(../pics/title.png);
  background-size: 1080px;
  background-color: #FFFFFF;
  border-top: 80px solid #005aa0;
  background-color: #005aa0;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
  
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}

.title-slide .remark-slide-number {
  display: none;
}

.inverse .remark-slide-number {
  display: none;
}

.remark-inline-code {
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.last-slide  {
  background-image: url(../pics/koala.jpg);
  background-size: 1080px;
  background-color: #FFFFFF;
  border-top: none;
  text-shadow: 1px 1px 2px white;
  font-size: 48px;
  font-weight: bold;

}

.last-slide .remark-slide-number {
  display: none;
}